<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- use appSetting to configure the Member Id -->
    <add key="nickname" value=""/>
    <!-- enter here your solution name, it must be exists in the cloud (for Azure connexion not for SignalR) -->
    <add key="CloudSolutionName" value="GeniusTetris"/>
    <!--enter here your group name, your can have a private group-->
    <add key="groupName" value="Demo"/>
    <add key="serverUrl" value="http://localhost:63589/"/>

    <!--<add key="ApplicationType" value="GeniusTetris.Multiplayer.Cloud.TetrisMultiplayerCloudApplication, GeniusTetris.Multiplayer.Cloud"/>-->
    <add key="ApplicationType" value="GeniusTetris.Multiplayer.SignalR.TetrisMultiplayerSignalRApplication, GeniusTetris.Multiplayer.SignalR"/>
  </appSettings>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Version=0.15.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Version=0.15.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Version=0.15.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Version=0.15.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Version=0.15.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.OnewayRelayTransportElement, Microsoft.ServiceBus, Version=0.15.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=0.15.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="basicHttpRelayContextBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayContextBindingCollectionElement, Microsoft.ServiceBus, Version=0.15.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=0.15.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="wsHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WSHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=0.15.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="wsHttpRelayContextBinding" type="Microsoft.ServiceBus.Configuration.WSHttpRelayContextBindingCollectionElement, Microsoft.ServiceBus, Version=0.15.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=0.15.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="ws2007FederationHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007FederationHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=0.15.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=0.15.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netTcpRelayContextBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayContextBindingCollectionElement, Microsoft.ServiceBus, Version=0.15.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Version=0.15.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Version=0.15.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </bindingExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="password">
          <transportClientEndpointBehavior credentialType="UserNamePassword">
            <clientCredentials>
              <userNamePassword userName="GeniusTetris" password="****"/>
            </clientCredentials>
          </transportClientEndpointBehavior>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <netEventRelayBinding>
        <binding name="default"/>
      </netEventRelayBinding>
      <netTcpRelayBinding>
        <binding name="default"/>
      </netTcpRelayBinding>
    </bindings>

    <client>
      <endpoint name="GameTetrisRelayEndpoint" contract="GeniusTetris.Multiplayer.Cloud.Interfaces.ITetrisGameService" binding="netEventRelayBinding" bindingConfiguration="default" address=""/>
      <endpoint name="RomServiceRelayEndpoint" contract="GeniusTetris.Multiplayer.Cloud.Interfaces.IPeerConnexionService" binding="netEventRelayBinding" bindingConfiguration="default" address=""/>
      <endpoint name="AcceptorRelayEndpoint" contract="GeniusTetris.Multiplayer.Cloud.Interfaces.IAcceptorService" binding="netTcpRelayBinding" bindingConfiguration="default" behaviorConfiguration="password" address=""/>
    </client>

    <services>
      <service name="GeniusTetris.Multiplayer.Cloud.Services.TetrisGameService">
        <endpoint contract="GeniusTetris.Multiplayer.Cloud.Interfaces.ITetrisGameService" binding="netEventRelayBinding" bindingConfiguration="default" behaviorConfiguration="password" address=""/>
      </service>
      <service name="GeniusTetris.Multiplayer.Cloud.Services.PeerConnexionService">
        <endpoint contract="GeniusTetris.Multiplayer.Cloud.Interfaces.IPeerConnexionService" binding="netEventRelayBinding" bindingConfiguration="default" behaviorConfiguration="password" address=""/>
      </service>

      <service name="GeniusTetris.Multiplayer.Cloud.Services.AcceptorService">
        <endpoint contract="GeniusTetris.Multiplayer.Cloud.Interfaces.IAcceptorService" binding="netTcpRelayBinding" bindingConfiguration="default" behaviorConfiguration="password" address=""/>
      </service>
    </services>

  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
